@import "tailwindcss";

:root {
  @apply bg-slate-950 text-white;
  scrollbar-width: none;
}
.mover {
  cursor: pointer;
  user-select: none; /* Evita que se seleccione el texto */
  -webkit-app-region: drag; /* Permite arrastrar la ventana */
}
.noMover {
  -webkit-app-region: no-drag; /* Permite arrastrar la ventana */
}
.react-calendar {
  background: black;
  color: rgb(152, 152, 214);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}
.sunday {
  @apply text-red-500 font-bold;
}
.week {
  @apply text-slate-500 /*Puedes cambiar el color a tu gusto*/;
}
.no-spin {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Otros navegadores */
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* en tu index.css o globals.css */
.bg-aurora {
  background: linear-gradient(-45deg, #0f172a, #1e293b, #334155, #1e3a8a);
  background-size: 400% 400%;
  animation: gradientShift 12s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

